:host {
  display: block;
  padding: 10px;
}

core-icon-button {
  background-color: rgb(50, 100, 50);
  color: white;
}

core-icon-button:hover {
  background-color: rgb(100, 150, 100);
}

#input {
  border: 1px solid #ddd;
  padding: 10px;
}
